<div class="home-container">
  <h1>🌿 Bienvenido a EcoRutas</h1>
  <p>Selecciona una sección para continuar:</p>

  <div class="menu-grid">
    <a routerLink="/alquileres" class="menu-card">
      🚲 <span>Alquileres</span>
    </a>

    <a routerLink="/rutas" class="menu-card">
      🗺️ <span>Rutas</span>
    </a>

    <a routerLink="/vehiculos" class="menu-card">
      🚘 <span>Vehículos</span>
    </a>

    <a routerLink="/usuarios" class="menu-card">
      👤 <span>Usuarios</span>
    </a>
  </div>
</div>
